<?xml version="1.0" encoding="UTF-8"?>
<!-- 
	2.[프로젝트 운영 설정] 무엇을 등록할지 확인
	web-app 태그 내부에 모든 내용을 작성해야 한다. 
	xmlns 에는 태그의 자동완성 및 검사를 수행하기 위한 정보를 주소(CDN) 형태로 설정한다.
	version이 2.5가 아니라 4.0으로 써야 한다(서블릿 버전에 따라 다르다)
-->
<web-app version="4.0" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee https://java.sun.com/xml/ns/javaee/web-app_4_0.xsd">

	<!-- 
		프로젝트 전체에 영향을 미치는 설정파일(전역 설정 파일, Global 설정 파일)
	 -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/spring/root-context.xml</param-value>
	</context-param>
	
	<!-- Creates the Spring Container shared by all Servlets and Filters -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!-- 
		Spring에는 기본적으로 모든 요청을 처리하는 서블릿이 한 개 존재
		이름은 DispatcherServlet 이며 appServlet 이라는 별칭으로 등록되어 있다
		요청을 분배해주는 역할을 수행하며, servlet-context.xml의 내용을 토대로 분배한다.
		가장 먼저 실행되도록 우선순위를 1등으로 설정한다
		
		이 DispatcherServlet은 / 에 해당하는 요청을 처리한다.
		*.do  또는  /* 로 설정하는 것이 아니라 / 로 설정하는 것은 의미가 있다.
		
		/* 는 "전체 요청을 다 처리하겠다"는 뜻이며,
		/ 는 "뺄거 빼고 남은 요청을 처리하겠다" 는 뜻이다.
	 -->
	<servlet>
		<servlet-name>appServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring/appServlet/servlet-context.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
		
	<servlet-mapping>
		<servlet-name>appServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

</web-app>