<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
<!-- Exam exam = new NewlecExam(); -->
<bean id="exam" class="spring.di.entity.NewlecExam" />

<!-- ExamConsole console = new InlineExamConsole(exam); -->
<!-- ExamConsole console = new GridExamConsole(exam); -->
<!-- 위 두 가지를 이곳에서 변경해서 넣으면 program에서 소스를 바꿀 필요가 없음! -->
<bean id = "console" class="spring.di.ui.InlineExamConsole" >

	<!-- console.setExam(exam) set생략 대문자는 소문자로 -->
	<property name="exam" ref="exam" />
</bean>

</beans>
