<?xml version="1.0" encoding="UTF-8"?>
<!-- 위의 태그는 xml에 반드시 필요한 header이며 항상 첫번째 줄에 있어야함 -->


<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee                       http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">

	<!-- 에러 페이지 관련 설정 -->
	<error-page>
		<error-code>403</error-code>
		<location>/error/403.jsp</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/error/404.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/error/500.jsp</location>
	</error-page>
	
	<!-- 세션 만료시간 설정(분) -->
	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>
</web-app>